/* This is for smaller screens like mobile and tablet*/

@media (max-width:500px) {
    .freelancer-page-main-container{
        margin: 1rem;
    }
    .freelancer-services h4, .account-profile-information li,
    .user-general-information-one label, .user-general-information-one input,
    .newMessageReceived, .git-password-update-section label,
    .git-password-update-section input, .eduction-container input,
    .eduction-container select, .freelancer-single-education h4,
    .freelancer-single-education p, .user-servicePrice-container label,
    .user-servicePrice-container input, .single-serviceAndPrice .show-serviceAndPrice h4 ,
    .user-bio-details-container .user-bio-one label, .user-bio-details-container .user-bio-one textarea,
    .user-bio-details-container .user-bio-one input, .user-bio-details-container .user-bio-one h4{
        font-size: 1.2rem;
    }

    .freelancer-single-education .show-section button,
    .single-serviceAndPrice .show-serviceAndPrice button{
        border-radius: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .main-account-page{
        flex-direction: column;
    }
    .freelancer_account_left_side{
        margin: 0;
        padding: 0;
    }
    .freelancer-services{
        width: 100%;
        padding: 0;
        margin: 2rem 0;
    }
    .account-profile-information{
        margin: 0;
        width: 100%;
    }
    .account-profile-information ul{
        width: 100%;
        padding: 1rem;
        overflow: auto;
        white-space: nowrap;
        margin-bottom: 2rem;
    }
    .account-profile-information li.user-main-page, .account-profile-information li.user-update-page,
    .account-profile-information li.user-current-booking-page, .account-profile-information li.user-completed-booking-page{
        display: inline-block;
        text-align: center;
        border: none;
        border-radius: .5rem;
        margin-right: 1rem;
        width: 10rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   }
    .account-profile-information li.user-completed-booking-page p{
        display: inline-block;
    }
    .newMessageReceived{
        padding: 0;
        border: none;
        margin-left: 1rem;
    }

    .freelancer_account_main_side{
        margin-left: 0;
    }
    .freelancer_account_main_side h1{
        color: #213e53;
        font-size: 1.5rem;
    }
    .user-account-skills h1{
        color: white;
    }
    .freelancer_account_main_side p, .user-account-skills section p{
        font-size: 1.2rem;
    }

    /* Profile Update */
    .update-general-information{
        margin: 0;
    }
    .user-general-information-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
    }
    .user-general-information-one>section:first-child{
        width: 100%;
    }

    .git-old-password{
        display: none;
    }
    .git-password-update-section{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .user-education{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .user-education-years{
        justify-content: start;
    }
    .user-education-years select{
        margin-right: 1rem;
    }
    .user-education-years button, #servicePriceBttn, #add-skills-button{
        color: white;
        background-color: #213e53;
        border-color: #213e53;
    }
    .user-education-years button, .user-education-years select{
        width: 100%;
    }
    .freelancer-single-education .show-section{
        display: block;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        padding: 1rem;
    }
    .freelancer-single-education .show-section h4,
    .freelancer-single-education .show-section p,
    .freelancer-single-education .show-section button{
        display: inline-block;
        margin-right: 1rem;
    }
    .freelancer-single-education .show-section h4,
    .freelancer-single-education .show-section p{
        border-right: .2rem solid #213e53;

        padding-right: .5rem;
    }
    .freelancer-single-education .show-section button{
        margin-left: 0;
    }

    .single-serviceAndPrice .show-serviceAndPrice{
        width: 100%;
        grid-template-columns: 55% 25% 5%;
        column-gap: 5%;
        padding: .5rem 1rem;
        border-color: #213e53;
    }
    .single-serviceAndPrice .show-serviceAndPrice button{
        padding-right: 1.5rem;
        padding-bottom: .5rem;
    }
    .user-bio-details-container .user-bio-one{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .saved-skill{
        width: 100%;
    }
    .saved-skill .show-skill button{
        border-radius: .5rem;
        padding-bottom: .5rem;
    }
    .user-bio-details-container .user-bio-one section:first-child{
        margin-bottom: 1.5rem;
    }
    .user-bio-container#userBioSkills{
        margin-top: 0;
        padding-top: 0.25rem;
    }
    .user-bio-container{
        grid-template-columns: 75% 20%;
        column-gap: 5%;
    }

    /*~~~~ Bookings ~~~~~*/
    .freelancer-projects-header, .freelancer-projects-top,
    .freelancer-one-project-top{
        grid-template-columns: 60% 40%;
        padding: 1.5rem .5rem;
    }
    .freelancer-projects-header p:nth-child(2),
    .freelancer-projects-header p:nth-child(3),
    .freelancer-projects-header p:nth-child(5){
        display: none;
    }
    .freelancer-projects-top p:nth-child(2),
    .freelancer-projects-top p:nth-child(3){
        display: none;
    }
    .freelancer-one-project-top p:nth-child(2),
    .freelancer-one-project-top p:nth-child(3){
        display: none;
    }
    .freelancer-options{
        display: none;
    }
    .freelancer-projects-header p:nth-child(1),
    .freelancer-projects-top p:nth-child(1),
    .freelancer-one-project-top p:nth-child(1){
        text-align: left;
        font-size: 1.2rem;
        margin: 0;
    }
    .freelancer-projects-header p:nth-child(4),
    .freelancer-projects-top p:nth-child(4).project-status,
    .freelancer-one-project-top p:nth-child(4).project-status{
        width: 100%;
        margin: 0;
    }
    .freelancer-projects-current, .freelancer-one-project{
        padding: 0rem;
    }
    .freelancer-projects-current{
        padding: 1rem .5rem;
    }
    .freelancer-one-project{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .freelancer-one-project-top,
    .freelancer-projects-top{
        width: 100%;
    }
    .freelancer-projects-top-details, .freelancer-one-project-details{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .freelancer-projects-top-details>div:nth-child(2) button,
    .freelancer-one-project-details>div:nth-child(2) button{
        font-size: 1.2rem;
        width: 13rem;
    }

    .freelancer-one-project-details>div:nth-child(1){
        flex-direction: column;
    }
    .freelancer-side-originalBooking, .freelancer-side-BookingChangesProposed{
        flex: 1;
        border: none;
    }
    .freelancer-side-BookingChangesProposed{
        border-top: .2rem dashed #213e53;
        padding-top: 1rem;
        margin-top: 1rem;
    }
    .bookingDetails-showOnMobileResponsive{
        display: block;
    }
}