/* This is for smaller screens like mobile and tablet*/

@media (max-width:500px) {
    .top-container{
        display: none;
    }

    .top-mobilenavcontainer{
        display: block;
        background-color: white;
        overflow: hidden;
        position: relative;
    }
    .mobiletop-texts{
        text-align: center;
        
    }
    .mobiletop-texts p{
        display: inline-block;
        margin-left:-3rem;
        font-family:tempus sans itc;
    }

    .mobiletop-texts :last-child{
        float: right;
        /* margin-left: 8rem; */
    }

    .top-mobilenavcontainer .mobileheaderLinks {
        display: none;
        width: 100%;
    }
    .top-mobilenavcontainer a {
        color: #213e53;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        display: block;
    }
    .top-mobilenavcontainer a.headerburger-icon {
        /*background: #ddd;*/
        /*background: #1E88E5;*/
        /*color: white;*/
        color: #1E88E5;;
        display: block;
        position: absolute;
        /*right: 0;*/
        top: 0;
        left: 0;
    }
    .top-mobilenavcontainer .mobileheaderLinks a:hover {
        background-color: #1E88E5;
        color: white;
    }
    

}