/* This is for smaller screens like mobile and tablet*/

@media (max-width:500px) {
    .mobile-application-error{
        display: block;
    }

    .webMainImage{
        display: none;
    }
    .index-search-information-top{
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .services-navigation-bar ul{
        width: 100%;
        padding: 0.7rem;
        overflow: auto;
        white-space: nowrap;
    }
    .kingsHire-motto{
        justify-content: center;
        margin-left: 0;
        /*margin-left: -6rem;*/
    }
    .kingsHire-search-information h1{
        font-size: 3.2rem;
        width: 27.5rem;
    }
    .kingsHire-search-information h3{
        font-size: 1.2rem;
    }
    .kingsHire-search-information p{
        font-size: 1.2rem;
    }
    .booking-steps-information {
        padding-top: 5rem;
        /*border-style: none;*/
    }
    .booking-steps-section li{
        width: 8rem;
        margin: 0 2rem;
    }
    .pro-services-kinglancer-section>div:first-child{
        padding: 4rem 5rem;
    }

    .index-search-information-top>div:first-child{
        padding-right: 2rem;
        padding-left: 2rem;
    }


    .selected-freelancers-index-page{
        display: block;
        padding: 4rem;
    }
    .single-selected-freelancer-index {
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 2rem 0.1rem;
    }
    .single-selected-freelancer-index img{
        width: 100%;
        text-align: center;
    }
    .contact-us-and-accessibility{
        display: block;
    }
    .webFreelancerSlideshow{
        display: none;
    }
   /* .mobileFreelancerSlideshow{
        display: block;
    }*/
    /* forward & Backward buttons */
    #freelancerBackarrow, #freelancerFrontarrow {
        cursor: pointer;
        position: absolute;
        /*top: 180%;*/
        width: auto;
        /*margin-top: -23px;*/
        padding: 1rem;
        color: #1E88E5;
        font-weight: bold;
        font-size: 3rem;
        margin-left: 0;
    }
    /* Place the "backward button" to the right */
    #freelancerBackarrow {
        left: 0;
        margin-top: 20rem;
    }
    /* Place the "forward button" to the right */
    #freelancerFrontarrow {
        right: 0;
        margin-top: 20rem;
    }
    .footer-section-1, .footer-section-2, .footer-section-3, .footer-section-4{
        margin-bottom: 3rem;
    }
}