/* This is for smaller screens like mobile and tablet*/

@media (max-width:500px) {
    .all-messages-container{
        font-size: 1.2rem;
        grid-template-columns: 100%;
    }
    .message-single-room{
        grid-template-columns: 20% 80%;
        padding: 0.5rem 1rem;
    }
    .message-single-room:nth-child(odd){
        background-color: #f1f1f1;
    }
    .default-messages-container{
        height: 20rem;
    }
}