footer
    - let kingsChatProfile = "https://kingschat.online/user/kings-hire"
    .contact-us-and-accessibility
        .footer-section-1
            a(href='/'): img.kingsHireImage(src='/images/kingsHireImage-removebg-preview.png')
            ul
                li Powerful Freelance Marketplace
                li System with ability to change the Users (Freelancers & Cliens)
            .contact-us-socials
                a(href=kingsChatProfile target="_blank")
                    img#kingsChat-logo(src='/images/kingsChat.png')
        .footer-section-2
            h4  For Clients
            ul
                li
                    a(href='/services')  Find Freelancers
                li
                    a(href='/policy/refund')  Refund Policy
                li
                    a(href='/policy/privacy')  Privacy Policy
        .footer-section-3
            h4  For Freelancers
            ul

                if ! isLogged
                    li
                        a(href="/users/join/freelancer")  Create Account
                else
                    li
                        a Create Account
                    if loggedInUser.user_stature.current === 'freelancer'
                        li
                            a(href='/account/freelancer/' + emailEncode(loggedInUser.email))  Find Work
                    else
                        li
                            a Find Work

        .footer-section-4
            h4  Contact Us
            ul
                li
                    i.fa-solid.fa-location-dot
                    p United Kingdom
                li
                    i.fa-solid.fa-phone
                    p +447448804768
                li
                    i.far.fa-envelope
                    p kingshire.team@gmail.com
    .copyright
        p  copyright © 2022. All Rights Reserved
