- let managementEmail = 'unilance.admnistration@gmail.com'
div#unilance-feeback-form
    div#feeback-text
        p.feedbackText Feedback

div.feedback-modal-container(style='display: none;')
    .feedback-container-contents
        .feedback-form-mailer-message(style='display: none;')
        form#feeback-form(action='/feedback' method='post' enctype='text/plain')
            h4 Feedback Form
            div
                section
                    label Name:(
                        span(style='color: red') *
                        | ):
                    input(type='text' name='name' placeholder='Type your name ...' required)
                section
                    | E-mail:
                    input(type='email' name='mail' placeholder='Type your email address ...')
                section
                    label Feeback Comment(
                        span(style='color: red') *
                        |):#[br]
                    textarea(type='text' name='comment' placeholder='Type your feeback...' required)
                section
                    input(type='reset' value='Reset')
                    input(type='submit' value='Send')

footer#contact.contact-area
    .container
        .top-footer
            p This is a platform to find and book the services of excellent freelancers around the world. Although we have just launched this platform, we aim to become the biggest and goto place for finding freelancers.
            //
                .middle-footer
                    .first-contact-section
                        h6 Contact Us with the phone numbers below or send an email
                    .second-contact-section
                        h6
                            | +01 2345 6789 12
                            span |
                            | +01 2345 6789 12
                    .third-contact-section
                        .contact-social
                            ul
                                li
                                    a.hover-target(href='')
                                        i.fab.fa-facebook-square
                                li
                                    a.hover-target(href='')
                                        i.fab.fa-linkedin
        .bottom-footer
            p Copyright © 2022 All Rights Reserved.
