footer
    .contact-us-and-accessibility
        .footer-section-1
            img.kingsHireImage(src='/images/kingsHireImage-removebg-preview.png')
            ul
                li Powerful Freelance Marketplace
                li System with ability to change the Users (Freelancers & Cliens)
            .contact-us-socials
                a
                    img#kingsChat-logo(src='/images/kingsChat.png')
        .footer-section-2
            h4  For Clients
            ul
                li
                    a  Find Freelancers
                li
                    a  Refund Policy
                li
                    a  Privacy Policy
        .footer-section-3
            h4  For Freelancers
            ul
                li
                    a  Find Work
                li
                    a  Create Account
        .footer-section-4
            h4  Contact Us
            ul
                li
                    i.fa-solid.fa-location-dot
                    p United Kingdom
                li
                    i.fa-solid.fa-phone
                    p +447448804768
                li
                    i.far.fa-envelope
                    p kingshire.team@gmail.com
    .copyright
        p  copyright © 2022. All Rights Reserved
