div.freelancer-registration
    div.freelancer-registration-container
        div.freelancer-registration-contents
            div.freelancer-registration-all-steps
                .registration-statement(style='display: none')
                    div
                        h1 Terms of Use Agreement
                    div
                        section
                            h4 Terms
                            p This Agreement shall start on the commencement date
                                | of this Agreement until when the user is not longer
                                | part of the website. It is used to communicate what
                                | the users can expect from us and what we we expect
                                | from our users from their duration on the site.
                        section
                            h4 Conditions
                            ol
                                li The students shall pay the necessary fees, such as
                                    | tuition and course fees, to the Home University.
                                    | Thus, the Host University shall waive any payment
                                    | of the students. The students shall be responsible
                                    | for paying additional fees related to the program
                                    | including, but not limited to, laboratory fees and
                                    | club registration fees.

                                li The Home University warrants that they shall forward
                                    | the applications of the participating students
                                    | months before the start of the program.

                                li The Home University warrants that they shall forward
                                    |the applications of the participating students
                                    |months before the start of the program.

                                li This Agreement shall be governed by the state laws of California.
                        section
                            button Reject
                            button Agree
                .registration-services-and-prices
                    div
                        h1 Service and Prices
                        include ../partials/freelancer-specific-details/services-and-prices
