.freelancer-servicePrice-container
    div
        section
            label Service #[br]
            input(type='text', name='service', class='freelancer-service', value='',
                placeholder='Enter Services (e.g. Developer, Translator, ...)')
        section
            label Price #[br]
            input(type='text', name='price', class='freelancer-service', value='',
                placeholder='Enter Price (e.g. 8.90, 134)')
    div
        button: i.fas.fa-plus-square