extends layout

block content
  div.unilance-error-page
    div.unilance-error-header
      i.fa-solid.fa-circle-exclamation
      h1 KingsHire Error Page
      i.fa-solid.fa-circle-exclamation
    div.unilance-error-message
      h3 Oh sorry, something has gone wrong.#[br]
        span Please try again!
      if error.status === 500
        h3.error-status-code-message Internal server error
      else if  error.status === 400
        h3.error-status-code-message Bad request
    div.unilance-error-icon
      i.fa-solid.fa-bug