extends layout

block content
    form.password-reset(method='POST')
        h1 Reset Password
        include partials/form_message
        .password-reset-first-section
            input(type='password', name='password_reset', autofocus, placeholder='New Password')
            input(type='password', name='password_confirm', autofocus, placeholder='Confirm New Password')
            button(type='submit') Reset Password