extends layout

block content
    .kingslance-services
        .service-hiring-title
            h2 Hire a Kinglancer
        .all-freelancers-available
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/excellenceFreelancerMaybeFinal.png')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF1.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF1.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF5.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF6.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF4.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF7.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope
            .single-selected-freelancer-index
                .top-side
                    img(src='/images/eF2.jpg')
                    p  Andy Burberry
                .middle-side
                    .singleServicePackage
                        p  UI/UX Design
                        p  £132.99
                .bottom-side
                    button  Instant Book
                    button  Request
                    a.freelance-mssg-btn
                        p Message
                        i.far.fa-envelope

    include ./partials/footer