input:focus{
    border-radius: .5rem;
    border-color: #213e53;
}
.client-account{
    margin: 1rem 5rem;
}

/*******************************************************
************ Client Main Side*********************/
.client-account-main{
    display: flex;
}

/*### Left Side####*/
.client-account-left{
    flex: 1;
    margin-right: 1rem;
}
.client-profile-details{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}
.client-profile-details img{
    object-fit: cover;
    object-position: top;
    height: 30vh;
    width: 30vh;
    border: .1rem dashed black;
}
.client-profile-details p{
    margin: 1rem;
}
.client-profile-details button{
    margin-bottom: 1rem;
    padding: .75rem;
    width: 100%;
    color: white;
    background-color: #8d2874;
    border-color: #8d2874;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
}

.client-account-left ul{
    list-style-type: none;
}

.client-account-left li{
    font-size: 1.3rem;
    border-bottom: .1rem solid #213e53;
    padding: 1rem;
}

.client-account-left li:nth-child(1){
    border-top: .1rem solid #213e53;
}

.client-account-left li:hover{
    cursor: pointer;
    background-color: #213e53;
    color: #ffffff;
}

/*### Middle Side####*/
.client-account-middle{
    flex: 3;
    margin: 0 1rem;
}
/*
* Bookings
*/

.client-bookings-header ul, .single-client-booking ul{
    list-style: none;
    display: grid;
    grid-template-columns: 30% 21% 20% 21% 8%;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 0;
}
.single-client-booking, .client-bookings-header{
    padding: 0 1rem;
}
.client-bookings-header ul li, .single-client-booking ul li{
    text-align: center;
    padding: 0 .5rem;
}
.client-bookings-header ul li{
    font-size: 1.3rem;
    font-weight: bold;
    border-right: .1rem solid black;
}
.client-bookings-header ul li:last-child{border: none;}

.single-client-booking{
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: .5rem .25rem .5rem .25rem rgba(0, 0, 0, 0.2) ;
}

.single-client-booking:last-child{
    margin-bottom: 0;
}
.booking-main-details{
    padding: 1rem 0;
}
.booking-description{
    border-top: .25rem solid black;
    padding: 1rem 0;
    margin: 0 1rem;
}

.single-client-booking li, .single-client-booking i,
.single-client-booking p{
    font-size: 1.3rem;
}
.single-client-booking:first-child{
    margin-top: .5rem;
}
.single-client-booking ul li button{
    color: white;
    border-radius: .5rem;
    padding: .25rem 0;
    cursor: pointer;
    width: 15rem;
}
.single-client-booking ul li:last-child{
    text-align: center;
}
.single-client-booking li i{
    cursor: pointer;
    font-size: 1.3rem;
}
.far.fa-trash-alt:hover{
    color: red;
}
.booking-description h4{
    font-size: 1.3rem;
}
.booking-description p{
    text-align: justify;
    font-size: 1.3rem;
}
.project-details>div:first-child{
    margin-bottom: 3rem;
}
.project-details>div:first-child>h4:first-child{
    margin-top: .5rem;
}
.client-booking-descrption-details{
    margin: 1rem 0;
}
.project-details>div:last-child,
.project-finish-update-options{
    display: flex;
    justify-content: center;
}
.project-details div:last-child button,
.project-finish-update-options button{
    border: none;
    padding: 1rem 0;
    margin: 0 1rem;
    width: 12rem;
    background-color: #308634;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}
.project-details div:last-child button:hover,
.project-finish-update-options button:first-child:hover{
    background-color: #29722d;
}
.project-details div:last-child>button:hover,
.project-finish-update-options button:last-child:hover{
    background-color: #ad3122;
}
.project-details div:last-child a{
    border-radius: .5rem;
    margin: 0 1rem;
}
.project-details div:last-child a button{
    margin: 0;
}
.project-details #booking-side-message-bttn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    color: white;
    background-color: #213e53;
    cursor: pointer;
}
.project-details #booking-side-message-bttn:hover{
    background-color: #0d3349;
}

.project-details div:last-child>button,
.project-finish-update-options button:last-child{
    background-color: #bf3524;
}
.project-details div:last-child button.client-accept-booking-bttn{
    background-color: #308634;
}
.project-details div:last-child button.client-accept-booking-bttn:hover{
    background-color: #29722d;
}
.bookingDetails-showOnMobileResponsive{
    display: none;
}
.project-details>div:first-child span{
    font-weight: normal;
}

.client-booking-modification-container{
    display: flex;
}
.client-side-modificationBooking{
    color: #8d2874;
}

.client-side-originalBooking, .client-side-modificationBooking{
    width: 100%;
}
.client-side-originalBooking{
    border-right: .1rem solid black;
}
.client-side-modificationBooking{
    border-left: .1rem solid black;
}
.client-side-originalBooking>div:first-child, .client-side-modificationBooking>div:first-child{
    border-bottom: .1rem solid black;
    text-align: center;
}
.client-side-originalBooking>div:nth-child(2), .client-side-modificationBooking>div:nth-child(2){
    padding: 1rem;
}

.project-finish-update-options button{
    width: 15rem;
}

.project-finish-request p,
.project-reject-request div p,
.project-completion-confirmed div p,
.project-completion-rejected p{
    text-align: center;
    margin: 2rem;
}
.project-finish-request p,
.project-reject-request div p span,
.project-completion-confirmed div p span,
.project-completion-rejected p span{
    font-weight: bold;
}
.project-finish-request p span:first-child{
    color: #308634;
    font-style: italic;
}
.project-finish-request p span:last-child{
    font-weight: normal;
    font-style: italic;
    font-size: 1.2rem;
}
.project-reject-request div p span:first-child{
    color: red;text-decoration: none;
}
#clientBookingEmpty{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding: 5rem;
}
/* Booking Modal */
.client-account-modal{
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-account-modal-content{
    min-width: 30%;
}

.client-booking-completion{
    padding: 2rem 2.5rem;
    background: #eee;
    border-radius: .5rem;
}
.client-booking-completion p{
    text-align: center;
    font-size: 1.3rem;
}
.client-booking-completion section{
    text-align: center;
    margin-top: 2rem;
}
.client-booking-completion section button:first-child{
    margin-right: .75rem;
}.client-booking-completion section button:last-child{
    margin-left: .75rem;
 }
.client-bookingCompletion-continue, .client-bookingCompletion-cancel{
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 10rem;
    color: white;
    cursor: pointer;
}
.client-bookingCompletion-continue{
    background-color: #308634;
    border-color: #308634;
}
.client-bookingCompletion-continue:hover{
    background-color: #29722d;
    border-color: #29722d;
}
.client-bookingCompletion-cancel{
    background-color: red;
    border-color: red;
}
.client-bookingCompletion-cancel:hover{
    background-color: #ad3122;
    border-color: #ad3122;
}
.client-booking-completion-rejection p span:last-child{
    font-style: italic;
    font-weight: bolder;
}
.client-booking-modification-acceptance{
    max-width: 70rem;
}
.client-booking-modification-acceptance div section,
.client-booking-modification-acceptance div p{
    text-align: left;
}
.client-booking-modification-acceptance h4{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}
.client-booking-modification-acceptance>span{
    font-size: 1.3rem;
    font-weight: bold;
    color: red;
}
.client-booking-modification-acceptance section label{
    font-size: 1.3rem;
    font-weight: bold;
}
.client-booking-modification-acceptance section:nth-child(4){
    margin-top: 3rem;
    text-align: center;
}
.client-booking-modification-acceptance section:nth-child(4) button,
.client-ongoingBooking-deletion-message button{
    border: none;
    padding: 1rem 0;
    margin: 0 1rem;
    width: 12rem;
    background-color: #308634;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}
.client-booking-modification-acceptance section:nth-child(4) button:hover,
.client-ongoingBooking-deletion-message button:hover{
    background-color:  #29722d;
}

.client-booking-modification-acceptance section:nth-child(4) button#client-booking-modificationReject,
#client-ongoingBooking-cancel{
    background-color: #FF0000;
}
.client-booking-modification-acceptance section:nth-child(4) button#client-booking-modificationReject:hover,
#client-ongoingBooking-cancel{
    background-color:  #bf3524;
}
.client-ongoingBooking-deletion-message{
    text-align: center;
    max-width: 50rem;
}

.client-ongoingBooking-deletion-message i.fas.fa-exclamation-circle{
    font-size: 4rem;
    color: #EED202;
    font-weight: bolder;
}
.client-ongoingBooking-deletion-message section>p{
    margin: 2rem 0 5rem 0;
}
/*
* Client Profile Update
*/
.client-profile-update h3, .client-current-bookings h3{
    width: max-content;
    padding-bottom: .25rem;
    color: #213e53;
    border-bottom: .25rem solid #213e53;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.client-profile-update label{
    font-size: 1.3rem;
}
.client-profile-update  input, .client-profile-update-options button{
    width: 100%;
    margin-top: .5rem;
    background-color: white;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.client-profile-update input:focus{
    border-color: #213e53;
    outline: none;
}

.client-basic-infos, .client-password-infos{
    display: grid;
    grid-gap: 1%;
    align-items: center;
    border-bottom: .2rem solid #213e53;
    padding-bottom: 1rem;
}
.client-basic-infos{
    grid-template-columns: 65% 33%;
    padding: .5rem;
}
.basic-infos-one, .basic-infos-two{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1%;
}
.client-password-infos{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: .5rem;
}

.client-image-uploaded img{
    padding: 1rem;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    object-position: top;
}
.basic-infos-three{
    border: .1rem dashed #213e53;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem;
}
.basic-infos-three input{
    margin: 0;
}

.client-profile-update-options{
    margin-top: 1rem;
}
.client-profile-update-options button{
    background-color: #213e53;
    color: white;
    border-color: #213e53;
    cursor: pointer;
}
.client-profile-update-options button:hover{
    background-color: #2a4f69;
}
.client-profile-update-options button:focus{
    border-color: #213e53;
    border-radius: .5rem;
    outline: none;
}