.top-mobilenavcontainer{
    display: none;
}
.top-mobilenavcontainer {
    overflow: hidden;
    position: relative;
}
.top-mobilenavcontainer .mobileheaderLinks {
    display: none;
    width: 100%;
}

.top-mobilenavcontainer .mobileheaderLinks a:hover {
    background-color: #213e53;
    color: white;
}

.webFreelancerSlideshow{
    display: block;
}
/*.mobileFreelancerSlideshow{
    display: none;
}*/
.services-navigation-bar{
    display: block;
}
.services-navigation-bar-mobile{
    display: none;
}
.mobile-application-error{
    text-align: center;
    font-size: 1.2rem;
    background-color: #F9546A;
    padding: .25rem .5rem;
    color: #FFFFFF;
    display: none;
}
.mobile-application-error span{
    font-weight: bold;
}