html {
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
li{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}

header .top-container, .index-search-information-top{
    margin-left: 5rem;
    margin-right: 5rem;
}
header{
    background-color: #FCFCDB;
}
.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.kingsHireImage{
    height: 5vh;
    width: 100%;
    cursor: pointer;
}
.footer-section-1 img.kingsHireImage{
    width: 40%;
}


.about-us-section-1-right section img.kingsHireImage{
    width: 55%;
    height: 8vh;
}
.top-navbar{
    background-color: white;
    font-size: 1.3rem;
    padding: .5rem 0;
    border-radius: .5rem;
}
.top-navbar>div{
    display: flex;
}
.top-navbar div a{
    text-align: center;
    min-width: 10rem;
    padding: .5rem;
    border-radius: .5rem;
    margin: 0 1rem;
    font-weight: bold;
}
.top-navbar div a:hover{
    border: .1rem solid #1E88E5;
}

.clicked-top-navbar{
    background-color: #1E88E5;
    cursor: pointer;
    color: #FFFFFF;
}

.services-navigation-bar,
.services-navigation-bar-mobile{
    background-color: #1E88E5;
    font-size: 1.3rem;
}
.services-navigation-bar ul,
.services-navigation-bar-mobile ul{
    display: flex;
    justify-content: space-evenly;
}
.services-navigation-bar ul li,
.services-navigation-bar-mobile ul li{
    padding: .75rem;
    width: fit-content;
}
.services-navigation-bar ul li a,
.services-navigation-bar-mobile ul li a{
    color: #FFFFFF;
    padding: .75rem;
    text-shadow: .05rem .05rem lightgrey;
}
.services-navigation-bar ul li a:hover,
.services-navigation-bar-mobile ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: #FCFCDB;
}
.services-navigation-bar ul li a.services-navigation-bar-clicked{
    text-decoration: underline;
    font-weight: bold;
    color: #FCFCDB;
}

.kingsHire-search-information{
    background-color: #FCFCDB;;
}
.kingsHire-search-information h1{
    font-size: 5rem;
}
.kingsHire-search-information h3{
    font-size: 1.5rem;
}
.kingsHire-search-information p{
    font-size: 1.3rem;
}
.index-search-information-top{
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}
.index-search-information-top>div:first-child{
    flex: 2;
    padding: 2rem 5rem;
    text-align: center;
}

.index-search-information-top>div:first-child h1,
.index-search-information-top>div:first-child p{
    padding: 1rem;
    width: 100%;
}
.search-freelancers-section{
    margin-top: 3rem;
}

#hire-a-kingLancer{
    background-color: #1E88E5;
    color: #FFFFFF;
    border-radius: .5rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    /*text-transform: uppercase;*/
}
#hire-a-kingLancer:hover{
    box-shadow: .25rem .25rem lightgrey;
}

.index-search-information-top>div:last-child{
    flex: 1;
    justify-self: center;
    text-align: center;

}
#kingsHire-section-image{
    height: 40vh;
    width: 40vh
}
.booking-steps-information {
    background: #FEB2BC;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}
.booking-steps-information h1{
    font-size: 3.5rem;
}
.booking-steps-section{
    display: flex;
    margin: 5rem 0;
    justify-content: center;
}
.booking-steps-section li{
    width: 20rem;
    text-align: center;
    margin: 0 5rem;
}
.booking-steps-section li>i{
    font-size: 3.5rem;
}
.booking-steps-section li>h3{
    margin: .5rem 0;
}
.booking-steps-section a:hover{
    text-decoration: underline;
    color: #1E88E5;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
}
.wave .shape-fill {
    fill: #FCFCDB;
}
.pro-services-kinglancer-section{
    background-color: #FFFFFF;
}

.pro-services-kinglancer-section>div:first-child{
    padding: 4rem 10rem;
}
.pro-services-kinglancer-section>div:first-child p{
    opacity: 50%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.pro-services-kinglancer-section>div:first-child h3{
    font-size: 2rem;
}
#pro-services-redirect{
    color: #1E88E5;
    cursor: pointer;
}
#pro-services-redirect:hover{
    text-decoration: underline;
}
.selected-freelancers-index-page{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1%;
    row-gap: 1%;
    padding: 0 12rem;
    justify-content: center;
}
.single-selected-freelancer-index{
    border: .1rem solid lightgrey;
    border-radius: .5rem;
}
.single-selected-freelancer-index img, .about-us-section-2-bottom img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.single-selected-freelancer-index .top-side p{
    font-weight: bold;
    text-align: center;
    padding: .5rem;
}

.single-selected-freelancer-index .top-side a:hover{
    text-decoration: underline;
}


.single-selected-freelancer-index .middle-side{
    padding: .5rem;
    border-bottom: .1rem solid lightgrey;
    border-top: .1rem solid lightgrey;
    height: 10rem;
    overflow-y: scroll;
    scrollbar-width: none; /*!* Firefox *!*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.single-selected-freelancer-index .middle-side::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
}

#freelancerBackarrow, #freelancerFrontarrow{
    display: none;
}

.middle-side .index-serviceAndPrice{
    display: flex;
    border: .1rem solid black;
    border-radius: .5rem;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 1rem;
    padding: .75rem 1rem;
}

.middle-side .index-serviceAndPrice p{
    font-size: 1.2rem;
}
.index-serviceAndPrice p:first-child{
    border-right: .1rem solid black;
    padding-right: .5rem;
}
.index-serviceAndPrice p:nth-child(2){
    border-left: .1rem solid black;
    padding-left: .5rem;
}
.single-selected-freelancer-index .bottom-side{
    display: flex;
    padding: 1rem 0;

}
.single-selected-freelancer-index .bottom-side button,
.single-selected-freelancer-index .bottom-side a{
    padding: .5rem 0;
    font-size: 1.1rem;
    width: 8rem;
    margin: .25rem;
    border: none;
    border-radius: .5rem;
    background-color: #DB2C44;
    color: #FFFFFF;
    cursor: pointer;
}
.single-selected-freelancer-index .bottom-side button:nth-child(1){
    background-color: #4CAF50;
}

.single-selected-freelancer-index .bottom-side>.freelance-mssg-btn{
    background-color: #1E88E5;
    border: .1rem solid #1E88E5;
}

footer{
    border-top: .1rem solid lightgrey;
    margin-top: 8rem;
}
footer h4{
    font-size: 1.5rem;
}
footer li, footer p, footer a{
    font-size: 1.2rem;
}
#kingsChat-logo{
    height: 6vh;
    width: 6vh;
    object-fit: contain;
    cursor: pointer;
}
.contact-us-and-accessibility{
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    padding: 2rem 0;
}
.contact-us-socials{
    display: flex;
    align-items: center;
}
.contact-us-socials p{
    margin-right: 1rem;
}
.contact-us-and-accessibility li{
    margin: 1rem 0;
}

.footer-section-1 ul li a:hover,
.footer-section-4 ul li a:hover,
.footer-section-2 ul li a:hover,
.footer-section-3 ul li a:hover{
    color: #1E88E5;
    text-decoration: underline;
    cursor: pointer;
}
.footer-section-4 ul li{
    display: flex;
}
.footer-section-4 ul li i{
    margin-right: 1rem;
}
.copyright{
    text-align: center;
    padding: 1rem 0;
    background-color: #FCFCDB;
}
.about-us-section-1{
    height: 75vh;
    margin: 2rem 3rem;
    color: #FFFFFF;
}
.about-us-section-1>section{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
}
.about-us-section-1-right.about-us-logo img.kingsHireImage{
    heigh: 8rem;
}
.about-us-logo{
    width: 70%;
}
.about-us-section-1>a:last-child{
    width: 13rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 2rem;
    background-color: #1E88E5;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFFFF;
}
.about-us-section-1>a:hover {
    background-color: #FFFFFF;
    color: #1E88E5;
}
.about-us-section-1>section .about-us-section-1-right,
.about-us-section-1>section .about-us-section-1-left{
    padding: 2rem 0;
}

.about-us-section-1>section .about-us-section-1-right{
    padding-right: 10rem;
    padding-left: 4rem;
}
.about-us-section-1>section .about-us-section-1-left{
    padding-left: 10rem;
    padding-right: 4rem;
}
.about-us-section-1>section .about-us-section-1-right{
    background-color: #FEB2BC;
}
.about-us-section-1>section .about-us-section-1-left{
    background-color: #DB2C44;
}
.about-us-section-1>section .about-us-section-1-right h1,
.about-us-section-1>section .about-us-section-1-left h1{
    margin-bottom: 1rem;
}
.about-us-section-1>section .about-us-section-1-right p,
.about-us-section-1>section .about-us-section-1-left p{
    font-size: 1.1rem;
}
.about-us-section-1-right section:last-child{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.about-us-section-1-right>a{
    border: .1rem soldi black;
}


.about-us-section-2{
    margin: 4rem 0;
}

.about-us-section-2 .about-us-section-2-top{
    text-align: center;
    font-size: 1.1rem;
    margin: 0 30%;
    margin-bottom: 1rem;
}
.about-us-section-2 .about-us-section-2-top h1, .about-us-section-3 h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.about-us-section-2-bottom{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-auto-flow: row;
    padding: 2rem 3rem;
}
.about-us-section-2-bottom div{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: #1E88E5;
}

.about-us-section-2-bottom section{
    text-align: center;
    padding: .75rem 1rem;
}
.about-us-section-2-bottom section ul li{
    color: #FFFFFF;
    font-size: 1.1rem;
}
.about-us-section-2-bottom section ul li:first-child{
    font-size: 1.3rem;
}
.single-testimonial section img{
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.about-us-section-3>section{
    text-align: center;
}
.about-us-section-3 .all-testimonials{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 1%;
    grid-row-gap: 5%;
    grid-auto-flow: row;
    margin: 2rem 3rem;
    margin-top: 4rem;
}
.all-testimonials .single-testimonial{
    border: .1rem solid lightgrey;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
}
.all-testimonials .single-testimonial section:first-child{
    padding-right: .5rem;
}
.all-testimonials .single-testimonial section:last-child{
    padding-left: .5rem;
}
.single-testimonial section:last-child ul li{
    font-size: 1.1rem;
}
.single-testimonial section:last-child ul li:nth-child(1),
.single-testimonial section:last-child ul li:nth-child(3){
    color: #1E88E5;
    font-weight: bold;
}
.single-testimonial section:last-child ul li:nth-child(2){
    margin: 1rem 0;
}
.single-testimonial section:last-child ul li:nth-child(3){
    font-size: 3rem;
}
/*
input:focus{
    border-radius: .5rem;
    border-color: #213e53;
}
.index-page-one{
    !*height: 35rem;*!
    display: grid;
    grid-template-columns: 65% 35%;
    background: url("../images/backgroung1.jpg") center;
    background-size: cover;
    padding: 0 10rem;
}
.index-page-one-left{
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}.index-page-one-left h1{
    font-size: 3.15rem;
    text-shadow: .11rem .11rem lightgrey;
    text-align: center;
}.index-page-one-left p{
    margin: 1rem 8rem 5rem 8rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    !*font-family:  Avenir Next Pro;*!
    font-family:  Matrice;
}
.booking-buttons button{
    width: 30rem;
    padding: 1rem;
    color: white;
    background-color: #8d2874;
    border-color: #8d2874;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
}
.booking-buttons button:hover{
    box-shadow: .1rem .1rem #8d2874;
}
.booking-buttons a{
    margin: 0 2rem;

}
!*
* Page Right
*!
.index-page-one-right{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.index-page-one-right img{
    height: 60vh;
    width: 55vh;
    object-fit: cover;
    object-position: top;
    !*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*!
}
!**********************************************************************************************************************!
!*****************************************    Index 2    **************************************************************!
!*.index-page-two{
    height: 15.5rem;
    display: grid;
    grid-template-columns: 65%;
}
.book-services-steps{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 2rem 8rem;
    align-items: center;
}
.index-page-two p{
    border: .2rem solid #213e53;
    margin: 1rem;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #213e53;
}
*!
!**********************************************************************************************************************!
!*****************************************    Index 3    **************************************************************!
.index-page-three{
    margin: 2rem 7rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: row;
    grid-gap: 2rem;
}
.single-user-index-details{
    border: .2rem solid lightgrey;
    border-radius: .5rem;
}
.top-side{
    display: flex;
    align-items: center;
    padding: .5rem;
}
.top-side section{
    margin-left: 10%;
}
.top-side section span p{
    font-size: 1.5rem;
    font-weight: bolder;
}
.single-user-index-details>.top-side section span p{
    cursor: pointer;
}
.single-user-index-details>.top-side section span p:hover{
    text-decoration: underline;
}
.single-user-index-details .top-side img{
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    position: center;
    border-radius: 50%;
}
.middle-side{
    height: 23vh;
    padding: 1rem .5rem;
    border-top: .1rem solid lightgrey;
    border-bottom: .1rem solid lightgrey;
    overflow-y: scroll;
    scrollbar-width: none; !* Firefox *!
    -ms-overflow-style: none;  !* Internet Explorer 10+ *!
    !*overflow: hidden;*!
    !*overflow: auto;*!
}
.middle-side::-webkit-scrollbar { !* WebKit *!
    width: 0;
    height: 0;
}

.middle-side div{
    display: flex;
    flex-wrap: wrap;
}
.middle-side .index-serviceAndPrice{
    border: .1rem solid black;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
}
.middle-side .index-serviceAndPrice p{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.middle-side .index-serviceAndPrice p:first-child{
    padding-right: .25rem;
}
.middle-side .index-serviceAndPrice p:nth-child(2){
    padding-left: 1rem;
    border-left: .2rem solid black;
    font-weight: bolder;
    font-style: italic;
}
.index-page-emptyFreelancers{
    margin: 2rem 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    max-height: 30vh;
}
.index-page-emptyFreelancers p{
    border: .1rem dashed black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem 1rem;
    font-size: 1.3rem;
}

.bottom-side{
    padding: 1rem 0 .5rem 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.bottom-side button, .bottom-side a{
    width: 9rem;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem 0;
}

.bottom-side>button{
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.bottom-side>button:nth-child(2){
    background-color: #8d2874;
    border-color: #8d2874;
}

!*********************************************************************************************************************!
!********************************************** Footer  **********************************************!
#unilance-feeback-form{
    position: sticky;
    width: 0;
    border: .1rem solid #213e53;
    display: flex;
    justify-content: end;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
#feeback-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    left: 1vw;
    top: 95.9vw;
}
.feedbackText{
    border: .1rem solid #213e53;
    border-radius: .5rem;
    padding: 1rem;
    color: #213e53;
    font-size: 1.3rem;
    cursor: pointer;
}
.feedbackText:hover{
    border: .1rem solid #213e53;
    color: white;
    background-color: #213e53;
}

.feedback-modal-container{
    display: flex;
    justify-content: end;
    border: .2rem solid #213e53;
    border-radius: .5rem;
    position: absolute;
    bottom: -10vw;
    right: 3.5vw;
    width: 24vw;
}
.feedback-modal-container:after{
    content: "";
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #213e53;
    border-top: 1rem solid transparent;
    position: absolute;
    right: -1rem;
    bottom: 5%;
    border-radius: .5rem;
}
.feedback-container-contents{
    width: 100%;
    border-radius: .5rem;
    background: white;
    border-radius: .5rem;
}
.feedback-form-mailer-message p{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 1rem .5rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
form#feeback-form{
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    color: #213e53;
}
form#feeback-form h4{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
}#form#feeback-form div section{
    margin: 1rem 0;
 }
form#feeback-form div section:nth-child(1) input,
form#feeback-form div section:nth-child(2) input{
    border: none;
    padding: .5rem;
    border: .1rem solid #213e53;
    border-radius: .5rem;
}
form#feeback-form div section:nth-child(1) input:focus,
form#feeback-form div section:nth-child(2) input:focus{
    outline: none;
}
form#feeback-form div section:nth-child(1),
form#feeback-form div section:nth-child(2){
    display: grid;
    grid-template-columns: 21% 78%;
    gap: 1%;
    align-items: center;
    margin: 1rem 0;
}
form#feeback-form div textarea{
    width: 100%;
    height: 15rem;
    resize: none;
    border: none;
    padding: .5rem;
    border: .1rem solid #213e53;
    border-radius: .5rem;
    margin-top: .5rem;
}
form#feeback-form div textarea:focus{
    outline: none;
}
form#feeback-form div section:nth-child(4){
    text-align: center;
    margin-top: 2rem;
}
form#feeback-form div section:nth-child(4) input{
    padding: .75rem;
    width: 10rem;
    background-color: #213e53;
    border-radius: .5rem;
    border-color: #213e53;
    color: white;
    cursor: pointer;
}
form#feeback-form div section:nth-child(4) input:first-child{
    margin-right: 1rem;
}
form#feeback-form div section:nth-child(4) input:last-child{
    margin-left: 1rem;
    background-color: #308634;
    border-color: #308634;
}

#contact{
    background-color: #213e53;
    font-size: 1.3rem;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.container .top-footer{
    margin: 0 20%;
    padding-bottom: 1rem;
}
.container  .middle-footer{
    margin: 0 5%;
    padding-bottom: 1rem;
}
.container .bottom-footer{
    margin: 0 5%;
}
!*
#contact .container .middle-footer .first-contact-section h6, .container .second-contact-section h6{
    font-size: 1.3rem;
}
#contact .container .middle-footer .first-contact-section h6{
    border-top: .2rem solid white;
    margin: 0 35rem;
    padding-top: 1rem;
}
.container .second-contact-section{
    font-size: 1.3rem;
    margin: 1rem 0;
}
.container .second-contact-section span{
    margin: 0 1rem;
}
#contact .contact-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#contact .contact-social ul li a i{
    cursor: pointer;
    font-size: 3rem;
    margin: 0 1rem;
    color: white;
}
*!
.bottom-footer{
    border-top: .1rem solid white;
    margin: 1rem 3rem 0 3rem;
    padding-top: 1rem;
    font-size: 1.1rem;
}*/
/*********************************************************************************************************************
********************************************** Freelance Service Package  **********************************************/

.freelance-service-package-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.freelance-service-package-modal-container{
    width: 40%;
}
.freelance-service-package-modal-container>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.freelance-service-package-modal-container>div:first-child section{
    width: 100%;
    text-align: center;
}
.freelance-service-package-modal-container>div:first-child .closebook-form{
    margin-left:auto;
}

.freelance-service-package-modal-container h4{
    font-size: 1.3rem;
}
.freelance-service-package-modal-container>div:first-child h4{
    text-decoration: underline;
    font-size: 1.5rem;
}
.freelance-service-package-modal-container>div:first-child span{
    font-style: italic;
    text-transform: uppercase;
}
.freelance-service-package-modal-container>div:last-child section{
    margin-top: 1rem;
    font-size: 1.3rem;
}
.freelance-service-package-modal-container>div:last-child ul{
    list-style: none;
    padding-left: 5%;
}
.freelance-service-package-modal-container>div:last-child li{
    margin: .5rem 0;
}

.freelance-service-package-modal-container>div:last-child>section div{
    display: flex;
    justify-content: center;
    margin: 3rem 0 5rem 0;
}
.freelance-service-package-modal-container>div:last-child>section div p{
    border: .1rem dashed #213e53;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.freelance-service-package-modal-container>div:last-child section:last-child{
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #8d2874;
    border: .1rem solid #8d2874;
    border-radius: .5rem;
    padding: .5rem 0;
}
