.privacy-policy, .refund-policy{
    margin: 3rem 5rem;
}
.privacy-policy section, .refund-policy section{
    margin-top: 1rem;
}

.privacy-policy>h1, .refund-policy>h1{
    text-align: center;
    margin-bottom: 2rem;
}
.privacy-policy h2, .refund-policy h2{
    margin-bottom: .5rem;
    padding: 0;
}
.privacy-policy h3, .refund-policy h3{
    margin: .5rem 0;
}

.privacy-policy p, .privacy-policy ul li, .refund-policy p{
    font-size: 1.3rem;
    margin: .25rem;
}
.privacy-policy ul li, .refund-policy ul li{
    margin-left: 5%;
}
.privacy-policy a, .refund-policy a{
    color: #1E88E5;
    text-decoration: underline;
}

.refund-policy{
    height: 16rem;
}