*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
input:focus{
  border-radius: .5rem;
  border-color: #213e53;
}
/*
***************** Join File Style
*/
.join-container{
  margin: 2rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-form-main>h1{
  text-align: center;
  font-size: 2.5rem;
}

.join-form-container label{
  font-size: 1.3rem;
}

/*----------Right------------*/
.join-right-container{
  background-color: white;
  padding: 2rem;
  color: black;
  border: .1rem solid lightgrey;
  width: 50%;
  border-radius: 1rem;
  font-size: 1.3rem;
  box-shadow: .2rem .2rem lightgrey;
}
.join-form-container{
  justify-content: space-between;
  margin: 4rem  0;
}

.join-form-left a, .login-OAUTH a{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: .1rem solid lightgrey;
  width: 100%;
  border-radius: 1rem;
  padding: .75rem;
}

.signUp-Separator{
  text-align: center;
  margin: 2rem 0;
}

.fa-brands.fa-google{
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0 1rem;
  font-size: 2rem;
}

.join-right-container input, button.web-submission, button.mobile-submission{
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border: .1rem solid lightgrey;
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
}
.join-right-container input:focus, button.web-submission:focus, button.mobile-submission:focus{
  border: .1rem solid black;
}
button.web-submission, button.mobile-submission{
  border-radius: 1rem;
}
.join-right-container input:focus{
  border-color: black;
  outline: none;
}

#submit-button{
  background-color: #DB2C44;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bolder;
}

#submit-button:hover{
  background-color: #DB2C44;
}
#submit-button:focus{
  outline: none;
}

#joinFL-login{
  margin: 0;
  padding: 0;
}
#joinFL-login:hover{
  text-decoration: underline;
}

.signup-page-login-option{
  text-align: center;
}
.signup-page-login-option a{
  color: #1E88E5;
  text-decoration: underline;
}

.joinform-or-separator{
  margin-bottom: 2rem;
  text-align: center;
}

.join-page-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-page-bottom a{
  border: .1rem solid #DB2C44;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  background-color: #DB2C44;
  color: #FFFFFF;
  font-weight: bold;
}

/*
************************************************************************************************************************
 ********************************************* Login Page **************************************************************
*/
.login-page-container{
  background-color: #FCFCDB;
  overflow: hidden;
  padding: 3rem;
  border-radius: 10px;
  position: absolute;
  width: 100rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(254, 178, 188, 0.2),
  5px 10px 10px rgba(254, 178, 188, 0.2);
}

.login-page-container{
  display: flex;
  justify-content: space-around;
}
.login, .login-OAUTH{
  flex: 1;
}
.login-OAUTH{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 1rem;
}
.login-OAUTH a{
  /*margin: 1rem 0;
  text-align: center;
  padding: 1rem;*/
  background-color: #F9546A;
  border-color: #F9546A;
}
.login-orSeparator{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
.center-element{
  margin: .5rem 0;
}
.login-orSeparator div:first-child, .login-orSeparator div:last-child{
  border: .1rem solid white;
  height: 50%;
}
.center-element, .login-OAUTH p{
  font-size: 1.3rem;
}
.login-OAUTH p{
  text-align: center;
}
.login {
  margin-left: 2rem;
}
.login > input{
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 2rem;
  width: 100%;
  border: .1rem solid #213e53;
  padding: 1rem;
  margin: 1.5rem 0;
}
.login > button{
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  width: 10rem;
  border: none;
  padding: .75rem 0;
  margin-top: 1rem;
  border-radius: .5rem;
  background-color: white;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.login > button#unilance-login-bttn{
  border-color: #DB2C44;
  background-color: #DB2C44;
}

.login > button:hover{
  border: .1rem solid white;
  box-shadow: .05rem .05rem #FCFCDB;
}
.login button:active, .login button:focus, .login input:active, .login input:focus{
  outline: none;
}

.login section{
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 1rem;
  align-items: flex-end;
}
.login section a{
  margin-bottom: .5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.login section a:hover{
  text-decoration: underline;
  -webkit-text-decoration-color: white; /* Safari */
  text-decoration-color: white;
}

.login::before, .login::after {
  content: '';
  position: absolute;
  width: 60rem;
  height: 60rem;
  border-radius: 40% 45% 40% 35%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(30, 136, 229, 1);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(254, 178, 188, 1);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**  Password Reset ***/
.password-forgot{
  margin: 0 25%;
}
.password-forgot h1, .password-reset h1{
  border-bottom: .005rem solid black;
  margin: 5rem 1rem;
  padding-bottom: .5rem;
  color: black;
}

.password-forgot-first-section, .password-reset-first-section{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.password-forgot-first-section input, .password-reset-first-section input{
  font-family: "Asap", sans-serif;
  width: 100%;
  background-color: white;
  border: .1rem solid #ccc;
  border-radius: .5rem;
  font-size: 1.2rem;
  padding: 1rem;
}

.password-reset-first-section input{
  margin-bottom: 1rem;
}

.password-forgot-first-section input:focus, .password-reset-first-section input:focus{
  border-color: black;
  outline: none;
}

.password-forgot-first-section button, .password-reset-first-section button{
  padding: .5rem;
  background-color: #F9546A;
  border: .1rem solid #F9546A;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}
.password-forgot-first-section button{
  margin-top: 1rem;
}
