/* This is for smaller screens like mobile and tablet*/

@media (max-width:1000px) and (min-width: 500px) {
    /*.account-profile-information ul{*/
    /*    display: grid;*/
    /*    grid-template-columns: 25% 25% 25% 25%;*/
    /*}*/
    .account-profile-information ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        /*background-color: red;*/
    }
    .account-profile-information ul li, .account-profile-information ul p{
        /*margin: .5rem 0;*/
        /*margin-right: .5rem;*/
        /*text-align: center;*/
        width: 100%;

    }
}