/* This is for smaller screens like tablet*/

@media (max-width:1000px) and (min-width: 500px){
    .selected-freelancers-index-page{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 4rem;
    }
    #kingsHire-section-image{
        height: 20vh;
    }
    .single-selected-freelancer-index{
        width: 30vh;
    }
    .single-selected-freelancer-index img{
        height: 25vh;
        width: 30vh;
    }
    .booking-steps-section li{
        /*width: 20rem;*/
        margin: 0 2rem;
    }
}
